[user]
  name = jartek
  username = jartek
	email = 2030949+jartek@users.noreply.github.com
	signingkey = 22DDAC01401BE77D
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autosquash = true
  autostash = true
[github]
  user = jartek
[rerere]
  enabled = true
[core]
  excludesfile = ~/.gitignore_global
[color]
  ui = true
[status]
  short = true
[help]
  autocorrect = 1
[core]
  editor = vim
[commit]
	gpgsign = true
[gpg]
	program = gpg
